* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#navbar {
  width: 300px;
  min-width: 290px;
  height: 100%;
  background-color: rgb(255, 252, 234);
  position: fixed;
  top: 0px;
  left: 0px;
  border-right: 3px solid #99a2a2;
}

#navbar header {
  font-size: 1.6rem;
  text-align: center;
  padding: 25px;
}

#navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 74%;
}

#navbar ul li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px 30px;
  border-top: 1px solid black;
}

.nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

#main-doc {
  margin-left: 300px;
  padding: 30px;
}

.main-section header {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

.main-section > p {
  margin-left: 20px;
  margin-bottom: 20px;
}

.main-section ul {
  margin-left: 70px;
  margin-bottom: 20px;
}

.main-section ul li {
  margin-bottom: 20px;
}

.six_types {
  margin-top: 20px;
}

#data_types ul ul {
  margin-left: 70px;
  margin-bottom: 20px;
}

.code {
  width: 95%;
  height: 100%;
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 15px 0px;
  border-radius: 5px;
  background-color: #e2e2e2;
  opacity: 0.7;
  font-size: 14px;
}

.code p {
  padding: 5px 15px;
}

@media all and (max-height: 700px) {
  #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 74%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
}

@media all and (max-width: 815px) {
  #navbar {
    width: 100%;
    min-width: 290px;
    background-color: rgb(255, 252, 234);
    position: relative;
    top: 0px;
    border-right: 3px solid #99a2a2;
    border-bottom: 3px solid #99a2a2;
  }

  #navbar header {
    background-color: rgb(255, 252, 234);
    position: sticky;
    top: 0px;
    font-size: 1.6rem;
    text-align: center;
    padding: 25px;
    border-bottom: 1px solid black;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  #navbar ul li {
    height: 100%;
    padding: 15px 30px;
    border-top: 1px solid black;
  }

  #main-doc {
    margin-left: 0px;
    padding: 15px;
    position: relative;
  }
}
