* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 768px) .container {
  max-width: 720px;
}

@media (min-width: 576px) .container {
  max-width: 540px;
}

.container {
  height: 100%;
  margin-top: 30px;
}

#header {
  display: block;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 40px;
}

#title {
  color: white;
  font-weight: 400;
  line-height: 2;
  line-height: 1.2;
}

#description {
  color: white;
  font-weight: 200;
  font-style: italic;
  line-height: 0;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#survey-form {
  display: block;
  width: 40vw;
  height: 105%;
  background-color: #2a2a49;
  opacity: 0.95;
  padding: 40px;
  z-index: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.form-title {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

#name-label {
  color: white;
  font-size: 18px;
}

.text-form {
  height: 40px;
  margin-top: 5px;
  background-color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 9px;
}

#email-label {
  color: white;
  font-size: 18px;
}

#optional {
  color: white;
}

#dropdown {
  height: 40px;
  margin-top: 5px;
  background-color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 9px;
}

#favorite {
  height: 40px;
  margin-top: 5px;
  background-color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 9px;
}

#recommend label {
  color: white;
  font-size: 20px;
}

#recommend input {
  display: inline-block;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

#recommend {
  margin-top: 10px;
}

#recommend div {
  margin-bottom: 20px;
}

#title-container {
  display: flex;
  align-items: flex-end;
}

#check_apply {
  color: white;
  font-size: 15px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.check-box {
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.improvement__container {
  margin-top: 15px;
}

#improve__label {
  color: white;
  font-size: 20px;
}

#improvement div {
  margin-bottom: 20px;
}

#comment-text {
  height: 100px;
  font-size: 18px;
  padding: 15px;
  font-weight: 700;
}

#btn-submit {
  background-color: #37af65;
  height: 50px;
  margin-top: 40px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.form-group:last-child {
  margin-top: 35px;
}
