*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  margin: 5rem auto;
  text-align: center;
}

#title {
  font-size: 4rem;
  font-weight: 700;
}

#main {
  background-color: white;
  width: 95%;
  margin: 0 auto;
}

#img-div {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}

#image {
  width: 100%;
}

#img-caption {
  padding: 2rem 0;
}

#tribute-info {
  width: 50%;
  margin: 0 auto;
}

#tribute-info h3 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 4rem 0;
}

#tribute-info ul {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
}

#tribute-info ul li {
  margin-bottom: 3rem;
}

#year {
  font-weight: 700;
}

#quote {
  width: 80%;
  margin: 6rem auto;
  font-size: 2rem;
}

#tribute-link {
  color: dodgerblue;
}

.footer {
  font-size: 2.2rem;
  text-align: center;
}
