*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#navbar {
  background-color: #be3144;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
}

#navbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

#navbar ul li a {
  font-size: 3rem;
  color: #f0f0f0;
  text-decoration: none;
  margin-right: 6rem;
}

main {
  height: 100vh;
  background: linear-gradient(to right, #36393c, #1c1b1d);
}

#welcome-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  font-size: 7rem;
  color: #f0f0f0;
}

#welcome-section p {
  font-size: 4rem;
  color: #be3144;
  font-style: italic;
}

#projects {
  background-color: #45567d;
  padding: 16rem 3.2rem;
  text-align: center;
}

.project {
  margin-bottom: 3rem;
}

.project-title {
  max-width: 900px;
  margin: 0 auto 8rem auto;
  font-size: 6rem;
  color: #f0f0f0;
  border-bottom: 3px solid #f0f0f0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  gap: 7rem;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.project p {
  padding: 2.5rem 0.7rem;
  font-size: 2.5rem;
  background-color: #303841;
  color: #f0f0f0;
}

.project p span {
  display: none;
}

.code {
  color: #303841;
  transition-property: orange;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.btn-show {
  padding: 1.5rem 3rem;
  font-size: 2.5rem;
  background-color: #303841;
  color: #f0f0f0;
  text-decoration: none;
}

.btn-show i {
  margin-top: 5rem;
  margin-left: 1rem;
}
