* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  background-color: #eeeeee;
}

.nav__ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.nav__ul li {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.nav__ul li a:hover {
  color: rgba(112, 112, 112, 0.719);
  opacity: 0.7;
}

body nav {
  display: flex;
  background-color: inherit;
  width: 100%;
  padding: 2em;
}

nav span {
  width: 100%;
  font-size: 1.5rem;
  margin-left: 1.5em;
}

nav span i {
  margin-right: 0.5em;
}

li a {
  text-decoration: none;
  color: black;
}

iframe {
  display: flex;
  width: 560px;
  height: 315px;
  max-width: 560px;
}

main {
  margin-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

.header form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

form input:first-child {
  width: 16rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.btn {
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  background-color: #f1c40f;
  margin-top: 1em;
  padding: 0em 5em;
  font-size: 1rem;
  font-weight: 800;
  border: none;
}

.btn:hover {
  background-color: orange;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.strength {
  margin-top: 3em;
}

.strength__grid {
  display: flex;
  margin-bottom: 4em;
}

.grid-icon {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff8c00;
  font-size: 3rem;
}

.strength__description {
  width: 55vw;
}

.strength__description h1 {
  font-size: 1.35rem;
  font-weight: 600;
}

.cards {
  width: 70vw;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.card {
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.7em;
}

.card h3 {
  font-size: 1.05rem;
  font-weight: 600;
  text-align: center;
}

.card__price {
  margin: 1em 0em;
}

.card__heading {
  width: 100%;
  background-color: #dddddd;
  padding: 1rem;
}

#price {
  font-size: 1.45rem;
  font-weight: 550;
}

.card__description p {
  line-height: 2;
  text-align: center;
}

.select-btn {
  font-size: 1.1rem;
  background-color: #f1c40f;
  padding: 0.5em 1.5em;
}

.btn-container {
  margin: 1rem 0;
}

footer {
  width: 100%;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 65vw;
  margin: 3em auto 0 auto;
  padding: 20px;
}

.footer-wrapper ul,
.footer-wrapper p {
  display: flex;
  justify-content: flex-end;
}

.footer-wrapper p {
  margin-top: 0.5em;
  font-size: 0.9rem;
  font-weight: 300;
}

.footer-list li {
  margin-left: 1em;
}

@media (max-width: 825px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  main {
    margin-top: 12rem;
  }

  .nav__ul {
    margin-top: 2rem;
  }

  #pricing {
    width: 60%;
  }

  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card {
    width: 100%;
    margin-top: 2rem;
  }
}
