* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  font-size: 1.2rem;
  margin-right: 3em;
}

ul li {
  margin-left: 6em;
}

body nav {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  width: 100%;
  height: 10vh;
  padding: 1.5em;
}

nav span {
  font-size: 1.5rem;
  margin-left: 1.5em;
}

nav span i {
  margin-right: 0.5em;
}
