* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  font-size: 1.2rem;
  margin-right: 3em;
}

ul li {
  margin-left: 6em;
}

body nav {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  width: 100%;
  height: 10vh;
  padding: 1.5em;
}

nav span {
  font-size: 1.5rem;
  margin-left: 1.5em;
}

nav span i {
  margin-right: 0.5em;
}

li a {
  text-decoration: none;
  color: black;
}

iframe {
  width: 100%;
  max-width: 560px;
}

main {
  margin-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.header input:nth-child(2) {
  width: 16rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.header input:nth-child(3) {
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  background-color: #f1c40f;
  margin-top: 1em;
  padding: 0em 5em;
}

.btn {
  font-size: 1rem;
  font-weight: 800;
  border: none;
}
